<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:context="http://www.springframework.org/schema/context"
	xmlns:aop="http://www.springframework.org/schema/aop"
	xmlns:tx="http://www.springframework.org/schema/tx"
	xsi:schemaLocation="http://www.springframework.org/schema/beans 
	http://www.springframework.org/schema/beans/spring-beans.xsd
	http://www.springframework.org/schema/context
	http://www.springframework.org/schema/context/spring-context.xsd
	http://www.springframework.org/schema/aop
	http://www.springframework.org/schema/aop/spring-aop.xsd
	http://www.springframework.org/schema/tx 
	http://www.springframework.org/schema/tx/spring-tx.xsd">
	
	<!-- 配置连接池: -->
	<!-- 引入外部属性文件 -->
	<context:property-placeholder location="classpath:jdbc.properties"/>
	<!-- 配置C3P0连接池: -->
	<bean id="dataSource" class="com.mchange.v2.c3p0.ComboPooledDataSource">
		<property name="driverClass" value="${jdbc.driver}"/>
		<property name="jdbcUrl" value="${jdbc.url}"/>
		<property name="user" value="${jdbc.user}"/>
		<property name="password" value="${jdbc.password}"/>
	</bean>
	
	<!-- Hibernate的相关信息 -->
	<bean id="sessionFactory" class="org.springframework.orm.hibernate3.LocalSessionFactoryBean">
		<!-- 注入连接池 -->
		<property name="dataSource" ref="dataSource"/>
		<!-- 配置Hibernate的其他的属性 -->
		<property name="hibernateProperties">
			<props>
				<prop key="hibernate.dialect">org.hibernate.dialect.MySQLDialect</prop>
				<prop key="hibernate.show_sql">true</prop>
				<prop key="hibernate.format_sql">true</prop>
				<prop key="hibernate.connection.autocommit">false</prop>
				<prop key="hibernate.hbm2ddl.auto">update</prop>
			</props>
		</property>
		<!-- 配置Hibernate的映射文件 -->
		<property name="mappingResources">
			<list>
				<value>cn/taobao/netstore/category/bean/Category.hbm.xml</value>
				<value>cn/taobao/netstore/categorysecond/bean/Categorysecond.hbm.xml</value>
				<value>cn/taobao/netstore/product/bean/Product.hbm.xml</value>
				<value>cn/taobao/netstore/order/bean/Order.hbm.xml</value>
				<value>cn/taobao/netstore/order/bean/OrderItem.hbm.xml</value>
				<value>cn/taobao/netstore/user/bean/User.hbm.xml</value>
				<value>cn/taobao/netstore/adminuser/bean/AdminUser.hbm.xml</value>
			</list>
		</property>
	</bean>
	
	<!-- 事务管理: -->
	<!-- 事务管理器 -->
	<bean id="transactionManager" class="org.springframework.orm.hibernate3.HibernateTransactionManager">
		<property name="sessionFactory" ref="sessionFactory"/>
	</bean>
	
	<!-- 开启注解事务 -->
	<tx:annotation-driven transaction-manager="transactionManager"/>
	
	<!-- Action的配置===================================================================================== -->
	
	<!-- 首页访问的action -->
	<bean id="indexAction" class="cn.taobao.netstore.index.action.IndexAction" scope="prototype">
		<property name="categoryService" ref="categoryService"/>
		<property name="productService" ref="productService"/>
	</bean>
	
	<!-- 用户模块的Action -->
	<bean id="userAction" class="cn.taobao.netstore.user.action.UserAction" scope="prototype">
		<property name="userService" ref="userService"/>
	</bean>
	
	<!-- 前台商品action -->
	<bean id="productAction" class="cn.taobao.netstore.product.action.ProductAction" scope="prototype">
		<property name="productService" ref="productService"></property>
	</bean>
	
	<!-- 后台登录的action -->
	<bean id="adminUserAction" class="cn.taobao.netstore.adminuser.action.AdminUserAction" scope="prototype">
		<property name="adminUserService" ref="adminUserService"></property>
	</bean>
	
	<!-- 后台一级分类管理的action -->
	<bean id="adminCategoryAction" class="cn.taobao.netstore.category.adminaction.AdminCategoryAction" scope="prototype">
		<property name="categoryService" ref="categoryService"/>
	</bean>
	
	<!-- 后台二级分类管理的action -->
	<bean id="adminCategorySecondAction" class="cn.taobao.netstore.categorysecond.adminaction.AdminCategorySecondAction" scope="prototype">
		<property name="categorySecondService" ref="categorySecondService"/>
		<property name="categoryService" ref="categoryService"/>
	</bean>
	
	
	<!-- 后台商品管理的action -->
	<bean id="adminProductAction" class="cn.taobao.netstore.product.adminaction.AdminProductAction" scope="prototype">
		<property name="productService" ref="productService"></property>
		<property name="categorySecondService" ref="categorySecondService"></property>
	</bean>
	
	<!-- 后台订单管理的action -->
	<bean id="adminOrderAction" class="cn.taobao.netstore.order.adminaction.AdminOrderAction" scope="prototype">
		<property name="orderService" ref="orderService"></property>
	</bean>
	
	<!-- 后台用户管理的action -->
	<bean id="userAdminAction" class="cn.taobao.netstore.user.admination.UserAdminAction" scope="prototype">
		<property name="userService" ref="userService"></property>
	</bean>
	
	<!-- 购物车action -->
	<bean id="cartAction" class="cn.taobao.netstore.cart.action.CartAction" scope="prototype">
		<property name="productService" ref="productService"></property>
	</bean>
	
	<!-- 订单action -->
	<bean id="orderAction" class="cn.taobao.netstore.order.action.OrderAction" scope="prototype">
		<property name="orderService" ref="orderService"></property>
	</bean>
	

	
	<!-- 验证码action -->
	<bean id="checkImgAction" class="cn.taobao.netstore.user.action.CheckImgAction" scope="prototype"></bean>
	
	<!-- Service的配置  ==========================================================================================-->
	<bean id="categoryService" class="cn.taobao.netstore.category.service.CategoryService">
		<property name="categoryDao" ref="categoryDao"/>
	</bean>
	<bean id="categorySecondService" class="cn.taobao.netstore.categorysecond.service.CategorySecondService">
		<property name="categorySecondDao" ref="categorySecondDao"></property>
	</bean>
	<bean id="productService" class="cn.taobao.netstore.product.service.ProductService">
		<property name="productDao" ref="productDao"></property>
	</bean>
	<bean id="userService" class="cn.taobao.netstore.user.service.UserService">
		<property name="userDao" ref="userDao"></property>
	</bean>
	<bean id="orderService" class="cn.taobao.netstore.order.service.OrderService">
		<property name="orderDao" ref="orderDao"></property>
	</bean>
	<bean id="adminUserService" class="cn.taobao.netstore.adminuser.service.AdminUserService">
		<property name="adminUserDao" ref="adminUserDao"></property>
	</bean>
	
	
	
	<!-- Dao的配置  ======================================================================================-->
	<bean id="categoryDao" class="cn.taobao.netstore.category.dao.CategoryDao">
		<property name="sessionFactory" ref="sessionFactory"/>
	</bean>
	<bean id="categorySecondDao" class="cn.taobao.netstore.categorysecond.dao.CategorySecondDao">
		<property name="sessionFactory" ref="sessionFactory"/>
	</bean>
	<bean id="productDao" class="cn.taobao.netstore.product.dao.ProductDao">
		<property name="sessionFactory" ref="sessionFactory"/>
	</bean>
	<bean id="userDao" class="cn.taobao.netstore.user.dao.UserDao">
		<property name="sessionFactory" ref="sessionFactory"/>
	</bean>
	<bean id="orderDao" class="cn.taobao.netstore.order.dao.OrderDao">
		<property name="sessionFactory" ref="sessionFactory"/>
	</bean>
	<bean id="adminUserDao" class="cn.taobao.netstore.adminuser.dao.AdminUserDao">
		<property name="sessionFactory" ref="sessionFactory"/>
	</bean>
	
	
</beans>
